#store_top{
    text-decoration: none;
    color:#2399fa;
}
.store_banner {
    background-color: whitesmoke;
    padding: 4px 0;
}
.store_main{
    text-align:center;
    padding :60px;
}
.storemain_heading{
    font-size: 46px;
    font-weight: 700;
}
.store_models{
    justify-content: center;
    display:flex;
    padding:0px, 300px;
}
.store_table_td{
    border: 1px solid #444444;
    background-color: #444444;
    color:white;
    height:200px;
    width:200px;
}
.store_second_wrapper{
    padding:10px;
}
.store_second{
    background-color: #ff990f;
    display:flex;
    height:600px;
    margin-top:30px;
    padding:10px;
    justify-content: center;
}
.store_img_right_bottom_box{
    height:100px;
    margin-top: 15%;
    color:white;
    font-size: 46px;
}
#Smoothie_ptag{
    font-size: 20px;
}.araboza{
    font-size: 20px;
    text-decoration: none;
    color:#2399fa;
}
.store_third_wrapper{
    display: flex;
    padding:10px;
    justify-content: center;
}
.arrow {
    margin-top: 220px;
}
.arrow_button{
    text-decoration: none;
    color:white;
    font-size: 50px;
    float:right;
}
.store_third_one{
    margin-right: 15px;
}
.store_third_two{
    margin-left: 15px;
}
.store_third_one, .store_third_two{
    
    background-color: black;
    padding:15px;
    width:500px;
    height:500px;
}
.black_box_ment{
    color:white;
    float:left;
    width:500px;
    height: auto;
    text-align: left;
}
.black_box_bottom {
    display: flex;
    padding:0;
}
.accessory_img img, .recent_product_img img {
    width:300px;
    height:300px;
    margin-top: 60px;
    margin-left: 100px;
    float: left;
}
.store_forth_wrapper{
    display: flex;
    padding:10px;
    justify-content: center;
}
.store_forth_one, .store_forth_two, .store_forth_three{
    padding: 10px;
    width:400px;
    height:500px;
}
.store_forth_one{
    background-color: #ffa11d;
    margin-right:20px;
    color:white;
    font-size: 30px;
}
.store_forth_two{
    background-color: rgb(1, 1, 114);
    margin-left: 20px;
    margin-right:20px;
    color:white;
    font-size: 80px;
}
.store_forth_three{
    background-color: rgb(0, 207, 52);
    margin-right: 40px;
    color:white;
    font-size: 38px;
}
.yellow_box_ment{
    height:114px;
}
.yellow_box_img img, .green_box_img img{
    height:300px;
    width: 300px;
}
