@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* 구글 폰트 Poppins를 가져옴 */
body {
    font-family: Poppins !important;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
}
.clear {
    clear:both;
}
